{%include 'base.html'%}
{% load bootstrap5 %}
{% block content %}

<body style=" background-image: url('https://images.unsplash.com/photo-1513584684374-8bab748fbf90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGhvbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60');
background-size: cover;
background-repeat:  no-repeat;
font-family: 'Lato', sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8  rgba-stylish-strong p-4">
                <h3 class="text-center tt ">Add a post to your Neighbourhood</h3>
                <form action="" method="post" novalidate>
                  {% csrf_token %}
                    {%bootstrap_form form%}
                    <button type="submit" class="btn btn-sm btn-warning "> Post</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
{% endblock %}